<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.AdminDAO">
<!--    管理员登陆-->
    <select id="AdminLogin" parameterType="Admin" resultType="Admin">
        select * from Admin where username = #{username} and password = #{password}
    </select>
<!--单个删除-->
    <delete id="deleteOneAdmin" parameterType="java.lang.Integer">
        delete from Sheet_Music where id = #{id};
    </delete>
<!--批量删除乐谱-->
    <delete id="deleteListMusic" parameterType="java.lang.Integer">
        delete from Sheet_Music where id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
<!--    查询所有用户-->
    <select id="findAllUser" parameterType="com.freemanwu.abc_demo.entity.User" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User
    </select>
<!--    删除单个用户-->
    <delete id="deleteOneUser" parameterType="java.lang.Integer">
        delete from User where id = #{id};
    </delete>
<!--    按id查找某个用户-->
    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User where id = #{id}
    </select>
<!--    修改用户信息-->
    <update id="updateUser" parameterType="com.freemanwu.abc_demo.entity.User">
        update User set username = #{username}, password = #{password}, phoneNumber = #{phoneNumber}, birthday = #{birthday}
                    where id = #{id};
    </update>
<!--    模糊查询用户-->
    <select id="findUsersByUserName" parameterType="java.lang.String" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User where username like CONCAT(CONCAT('%',#{username}),'%')
    </select>
<!--    全站通知-->
    <update id="WholeSiteAnnouncement" parameterType="java.lang.String">
        update User set FirstPageAnnounce = ${FirstPageAnnounce}
    </update>
</mapper>