<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.AdminDAO">
<!--    管理员登陆-->
    <select id="AdminLogin" parameterType="Admin" resultType="Admin">
        select * from Admin where username = #{username} and password = #{password}
    </select>
<!--单个删除-->
    <delete id="deleteOneAdmin" parameterType="java.lang.Integer">
        delete from Sheet_Music where id = #{id};
    </delete>
<!--批量删除乐谱-->
    <delete id="deleteListMusic" parameterType="java.lang.Integer">
        delete from Sheet_Music where id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
<!--    查询所有用户-->
    <select id="findAllUser" parameterType="com.freemanwu.abc_demo.entity.User" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User
    </select>
<!--    删除单个用户-->
    <delete id="deleteOneUser" parameterType="java.lang.Integer">
        delete from User where id = #{id};
    </delete>
<!--    按id查找某个用户-->
    <select id="findUserById" parameterType="java.lang.Integer" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User where id = #{id}
    </select>
<!--    修改用户信息-->
    <update id="updateUser" parameterType="com.freemanwu.abc_demo.entity.User">
        update User set username = #{username}, password = #{password}, phoneNumber = #{phoneNumber}, birthday = #{birthday},
                        comment_mark = #{comment_mark}, MusicAnnounce = #{MusicAnnounce}
                    where id = #{id};
    </update>
<!--    模糊查询用户-->
    <select id="findUsersByUserName" parameterType="java.lang.String" resultType="com.freemanwu.abc_demo.entity.User">
        select * from User where username like CONCAT(CONCAT('%',#{username}),'%')
    </select>
<!--用户乐谱通知-->
    <update id="musicAnnounce" parameterType="com.freemanwu.abc_demo.entity.User">
        update User set MusicAnnounce = #{MusicAnnounce} where username = #{username};
    </update>
<!--    全站通知-->
    <insert id="WholeSiteAnnounce" parameterType="java.lang.String">
        insert into Announce (announce, update_date) values (#{announce}, now());
    </insert>

<!---->
    <select id="findMusicByBeat" parameterType="java.lang.String" resultType="com.freemanwu.abc_demo.entity.Sheet_Music">
        select * from Sheet_Music where beat = #{beat}
    </select>

    <select id="findMusicByTone" parameterType="java.lang.String" resultType="com.freemanwu.abc_demo.entity.Sheet_Music">
        select * from Sheet_Music where tone = #{tone}
    </select>

    <select id="CombinedFindMusic" parameterType="com.freemanwu.abc_demo.entity.Sheet_Music" resultType="com.freemanwu.abc_demo.entity.Sheet_Music">
        select * from Sheet_Music where beat = #{beat} and tone = #{tone} and music_name like CONCAT(CONCAT('%',#{music_name}),'%')
    </select>
<!--  饼状图数据-->
    <select id="totalNumberOfA" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'A'
    </select>
    <select id="totalNumberOfUpA" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#A'
    </select>
    <select id="totalNumberOfbA" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bA'
    </select>
    <select id="totalNumberOfB" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'B'
    </select>
    <select id="totalNumberOfUpB" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#B'
    </select>
    <select id="totalNumberOfbB" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bB'
    </select>
    <select id="totalNumberOfC" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'C'
    </select>
    <select id="totalNumberOfUpC" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#C'
    </select>
    <select id="totalNumberOfbC" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bC'
    </select>
    <select id="totalNumberOfD" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'D'
    </select>
    <select id="totalNumberOfUpD" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#D'
    </select>
    <select id="totalNumberOfbD" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bD'
    </select>
    <select id="totalNumberOfE" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'E'
    </select>
    <select id="totalNumberOfUpE" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#E'
    </select>
    <select id="totalNumberOfbE" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bE'
    </select>
    <select id="totalNumberOfF" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'F'
    </select>
    <select id="totalNumberOfUpF" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#F'
    </select>
    <select id="totalNumberOfbF" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bF'
    </select>
    <select id="totalNumberOfG" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'G'
    </select>
    <select id="totalNumberOfUpG" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = '#G'
    </select>
    <select id="totalNumberOfbG" resultType="java.lang.Integer">
        select count(*) from Sheet_Music where tone = 'bG'
    </select>

    <select id="totalBeatOf44" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '4/4'
    </select>
    <select id="totalBeatOf34" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '3/4'
    </select>
    <select id="totalBeatOf24" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '2/4'
    </select>
    <select id="totalBeatOf14" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '1/4'
    </select>
    <select id="totalBeatOf38" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '3/8'
    </select>
    <select id="totalBeatOf68" resultType="java.lang.String">
        select count(*) from Sheet_Music where beat = '6/8'
    </select>
</mapper>