<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.Sheet_MusicDAO">

    <insert id="save" parameterType="Sheet_Music">
        insert into Sheet_Music (music_name, beat, tone, username, state, abc, insert_date, introduction)
            values (#{music_name},#{beat},#{tone},#{username},'待审核',#{abc},now(),#{introduction});
    </insert>

<!--    管理员-->
    <select id="findAllMusic" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music
    </select>

    <select id="findMusicByState" parameterType="java.lang.String" resultType="Sheet_Music">
        select * from Sheet_Music where state = #{state}
    </select>

    <select id="findByMusicName" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music where music_name like CONCAT(CONCAT('%',#{music_name}),'%')
    </select>

    <update id="updateMusicAdmin" parameterType="Sheet_music">
        update Sheet_Music set music_name = #{music_name}, beat = #{beat}, tone = #{tone}, last_update_date = now(),
                            state = #{state}, abc = #{abc}, introduction = #{introduction} where id = #{id};
    </update>
<!--    用户-->
    <select id="findAllMusicUser" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music where state = '通过'
    </select>

    <select id="findByMusicNameUser" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music where state = '通过' and music_name like CONCAT(CONCAT('%',#{music_name}),'%')
    </select>

    <update id="updateMusicUser" parameterType="Sheet_music">
        update Sheet_Music set music_name = #{music_name}, beat = #{beat}, tone = #{tone}, last_update_date = now(),
                            abc = #{abc}, introduction = #{introduction} state = '待审核' where id = #{id}
    </update>

    <select id="findByMusicUserName" parameterType="java.lang.String" resultType="com.freemanwu.abc_demo.entity.Sheet_Music">
        select * from Sheet_Music where username = #{username}
    </select>
<!--//////////////////////////////////-->
    <select id="findMusicById" parameterType="java.lang.Integer" resultType="Sheet_music">
        select * from Sheet_Music where id = #{id};
    </select>


</mapper>