<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.Sheet_MusicDAO">

    <insert id="save" parameterType="Sheet_Music">
        insert into Sheet_Music (music_name, beat, tone, username, location, insert_date)
            values (#{music_name},#{beat},#{tone},#{username},#{location},now());
    </insert>

    <select id="findAllMusic" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music
    </select>

    <select id="findByMusicName" parameterType="Sheet_Music" resultType="Sheet_Music">
        select * from Sheet_Music where music_name like CONCAT(CONCAT('%',#{name}),'%')
    </select>

</mapper>