<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.UserDAO">
<!--注册-->
    <insert id="register" parameterType="User">
        insert into User (username, password) values (#{username},#{password});
    </insert>

<!--登陆-->
    <select id="findByNameAndPassword" parameterType="User" resultType="User">
        select * from User where username = #{username} and password = #{password};
    </select>

<!--忘记密码-->
    <update id="update" parameterType="java.lang.String">
        update User set password = #{password} where username = #{username};
    </update>
</mapper>
