<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freemanwu.abc_demo.dao.UserDAO">
<!--注册-->
    <insert id="register" parameterType="User">
        insert into User (username, password, phoneNUmber, birthday)
         values (#{username}, #{password}, #{phoneNumber}, #{birthday});
    </insert>

<!--登陆-->
    <select id="findByNameAndPassword" parameterType="User" resultType="User">
        select * from User where username = #{username} and password = #{password};
    </select>

<!--忘记密码-->
    <update id="update" parameterType="User">
        update User set phoneNumber = #{phoneNumber}, birthday = #{birthday}
        where username = #{username};
    </update>

<!--查看用户主页-->
    <select id="findByName" parameterType="User" resultType="User">
        select * from User where username = #{username};
    </select>

<!--查看个人乐谱-->
    <select id="findMusicByUserName" parameterType="java.lang.String" resultMap="com.freemanwu.abc_demo.entity.Sheet_Music">
        select * from Sheet_music where username = #{username};
    </select>

<!--删除个人曲谱-->
    <delete id="deleteOneMusicUser" parameterType="java.lang.Integer">
        delete from Sheet_music where id = #{id};
    </delete>


<!--    useCache="true" flushCache="false-->
</mapper>