<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员之乐谱全展示</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<script type="text/javascript">
    window.onload = function (){
        var easy = document.getElementById("easy");
        var combined = document.getElementById("combined");
        var easyQuery = document.getElementById("easyQuery");
        var combinedQuery = document.getElementById("CombinedQuery")

        if (easy.checked==true){
            easyQuery.style.display = "block";
            combinedQuery.style.display = "none";
        }
        easy.onclick = function (){
            easyQuery.style.display = "block";
            combinedQuery.style.display = "none";
        }
        combined.onclick = function (){
            easyQuery.style.display = "none";
            combinedQuery.style.display = "block";
        }
    }

</script>
<body style="background-color: #FFF5EE">

<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%">
            <b style="font-size: 40px;color: #FF8C69">
                <strong>状态分类</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6" style="font-size: 2px; color: #EEE5DE">
                    <b>
                        当前管理员：<span th:text="${session.loginAdmin.username}"></span>
                    </b>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">&nbsp|&nbsp退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="float: left; width: 25%;color: #FFA07A;margin-top: 1%">
    <input type="radio" name="m" value="1" checked id="easy" />简单查询
    <input type="radio" name="m" value="2" id="combined"/>组合查询
</div>

<div id="easyQuery" class="QueryWindow">
    <div style="width: 25%;float: right">
        <form th:action="@{/music/findByMusicName}" method="post">
            <input type="text" name="music_name" placeholder="按曲谱名模糊查询" class="input">&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 20%;float: right">
        <form th:action="@{/admin/findMusicByBeat}" method="post">
            <select name="beat" class="shortSelect">
                <option selected>按节拍查询</option>
                <option>---------</option>
                <option value = "1/4">1/4</option>
                <option value = "2/4">2/4</option>
                <option value = "3/4">3/4</option>
                <option value = "4/4">4/4</option>
                <option value = "3/8">3/8</option>
                <option value = "6/8">6/8</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 20%;float: right">
        <form th:action="@{/admin/findMusicByTone}" method="post">
            <select name="tone" class="shortSelect">
                <option selected>按定调查询</option>
                <option>---------</option>
                <option value = "C">C</option>
                <option value = "#C">#C</option>
                <option value = "bC">bC</option>
                <option value = "D">D</option>
                <option value = "#D">#D</option>
                <option value = "bD">bD</option>
                <option value = "E">E</option>
                <option value = "#E">#E</option>
                <option value = "bE">bE</option>
                <option value = "F">F</option>
                <option value = "#F">#F</option>
                <option value = "bF">bF</option>
                <option value = "G">G</option>
                <option value = "#G">#G</option>
                <option value = "bG">bG</option>
                <option value = "A">A</option>
                <option value = "#A">#A</option>
                <option value = "bA">bA</option>
                <option value = "B">B</option>
                <option value = "#B">#B</option>
                <option value = "bB">bB</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
</div>
<div id="CombinedQuery" class="QueryWindow">
    <form th:action="@{/admin/CombinedFindMusic}" method="post">
        <input type="submit" class="btn" value="组合" style="width: 80px;float: right;">
        <input type="text" name="music_name" placeholder="请输入乐谱名称，可模糊" class="input" style="float: right;">
        <select name="state" class="shortSelect" style="float: right">
            <option selected>节拍选择</option>
            <option>---------</option>
            <option value = "1/4">1/4</option>
            <option value = "2/4">2/4</option>
            <option value = "3/4">3/4</option>
            <option value = "4/4">4/4</option>
            <option value = "3/8">3/4</option>
            <option value = "6/8">3/4</option>
        </select>
        <select name="tone" class="shortSelect" style="float: right">
            <option selected>定调选择</option>
            <option>---------</option>
            <option value = "C">C</option>
            <option value = "#C">#C</option>
            <option value = "bC">bC</option>
            <option value = "D">D</option>
            <option value = "#D">#D</option>
            <option value = "bD">bD</option>
            <option value = "E">E</option>
            <option value = "#E">#E</option>
            <option value = "bE">bE</option>
            <option value = "F">F</option>
            <option value = "#F">#F</option>
            <option value = "bF">bF</option>
            <option value = "G">G</option>
            <option value = "#G">#G</option>
            <option value = "bG">bG</option>
            <option value = "A">A</option>
            <option value = "#A">#A</option>
            <option value = "bA">bA</option>
            <option value = "B">B</option>
            <option value = "#B">#B</option>
            <option value = "bB">bB</option>
        </select>
    </form>
</div>
<div style="width:5%;height:5%; margin-left: 5%;margin-bottom: -3%;margin-top: 4%;">
    <input class="deleteBtn" type="submit" value="删除选中的所有信息" style="border-radius:20px" onclick="del()" id="deleteAll">
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>全选：<input type="checkbox" id="checkAll"></th>
            <th>乐曲名</th>
            <th>创建用户</th>
            <th>拍数</th>
            <th>定调</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>
                <select onchange="window.location=this.value;" style="border: none">
                    <option th:selected="${session.state} eq '全部状态'" th:value="@{/music/listMusicAdmin}">全部状态</option>
                    <option th:selected="${session.state} eq '通过'" th:value="@{/music/findByStates?state=通过}">通过</option>
                    <option th:selected="${session.state} eq '待审核'" th:value="@{/music/findByStates?state=待审核}">待审核</option>
                    <option th:selected="${session.state} eq '请修改'" th:value="@{/music/findByStates?state=请修改}">请修改</option>
                </select>
            </th>
            <th>操作</th>
        </tr>
        </thead>
                <tbody>
                <tr th:each="music,musicStat:${musics}">
                    <td><input type="checkbox" th:value="${music.id}" name="box"></td>
                    <td>
                        <a th:href="@{/music/AdminFindMusicById(id=${music.id})}" th:target="_blank">
                            <span style="color: black" th:text="${music.music_name}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:if="${music.username} eq '用户已注销'" th:text="用户已注销" style="color: #ef1d1d"></span>
                        <span th:if="${music.username} ne '用户已注销'" th:text="${music.username}"></span>
                    </td>
                    <td><span th:text="${music.beat}"></span></td>
                    <td><span th:text="${music.tone}"></span></td>
                    <td><span th:text="${#dates.format(music.insert_date,'yyyy年MM月dd日')}"></span></td>
                    <td><span th:text="${#dates.format(music.last_update_date,'yyyy年MM月dd日')}"></span></td>
                    <td>
                        <span th:if="${music.state} eq '待审核'" th:text="待审核" style="color: #0014c3"></span>
                        <span th:if="${music.state} eq '通过'" th:text="通过" style="color: rgba(7,89,2,0.58)"></span>
                        <span th:if="${music.state} eq '请修改'" th:text="请修改" style="color: #ef1d1d"></span>
                    </td>
                    <td>
                        <form th:action="@{/admin/adminDeleteOne}" method="post" style="width: 50%;float: left">
                            <input type="text" th:value="${music.id}" name="id" style="display: none">
                            <input type="submit" value="删除" class="deleteBtn">
                        </form>
                        <form th:action="@{/music/updateMusicAdmin1}" method="post" style="width: 50%;">
                            <input type="text" th:value="${music.id}" name="id" style="display: none">
                            <input type="submit" value="更新" class="updateBtn">
                        </form>
                    </td>
                </tr>
                </tbody>
    </table>
</div>
<div th:if="${page.pages>0}" style="margin-left: 35%">
    <!--当前页-->
    <span th:text="'当前页: '+${page.pageNum}" style="font-size: small"></span>
    &nbsp&nbsp&nbsp
    <!--            首页作为第一页不可点击-->
    <a th:href="@{/music/findByStates(pageNo=1,state=${session.state})}" class="btn" style="width: 40px">首页</a>
    &nbsp&nbsp
    <span th:if="${page.pageNum==1}">
                <a onclick="return false" class="btn_FenYe">上一页</a>
            </span>
    <span th:unless="${page.pageNum==1}">
                <a th:href="@{/music/findByStates(pageNo=${page.pageNum - 1},state=${session.state})}" class="btn_FenYe">上一页</a>
            </span>
    &nbsp&nbsp

    <span th:each="i:${#numbers.sequence(1,page.pages)}">
        &nbsp
                <a th:href="@{/music/findByStates(pageNo=${i},state=${session.state})}" th:text="${i}">1</a>
            </span>

    &nbsp&nbsp
    <span th:if="${page.pages==page.pageNum}">
                <a onclick="return false" class="btn_FenYe">下一页</a>
            </span>

    <span th:unless="${page.pages==page.pageNum}">
                <a th:href="@{/music/findByStates(pageNo=${page.pageNum+1},state=${session.state})}" class="btn_FenYe">下一页</a>
            </span>

    &nbsp&nbsp
    <a th:href="@{/music/findByStates(pageNo=${page.pages},state=${session.state})}" class="btn" style="width: 40px">末页</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" th:value="@{/admin/deleteByIds}" id="deleteByIds" style="display: none">
    <span th:text="'总条数'+${page.total}" style="font-size: small"></span>
</div>

<script th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript">
    //全选
    var oid = document.getElementsByName("box");
    var checkAll = document.getElementById("checkAll");

    checkAll.onclick = function (){
        for (var i = 0; i< 10; i++){
            if (checkAll.checked == true ){
                oid[i].checked = true;
            }else if(checkAll.checked== false){
                oid[i].checked = false;
            }
        }
    }

    /*封面图-批量删除*/
    function del(){
        var r=confirm("是否确认删除？");
        var id;
        if (r == true) {
            alert("删除成功！");
            //确认删除
            var n = 0;
            var ids = "";
            for (var i = 0; i < oid.length; i++) {
                if (oid[i].checked == true) {   //选中为true
                    id = oid[i].value;
                    if (n == 0) {
                        ids += "id=" + id;
                    } else {
                        ids += "&id=" + id;
                    }
                    n++;
                }
            }
            //上面会拼接出一个名为ids的数组ids=1&ids=2&ids=3&ids=4……
            //deleteByIds为controller的Mapping请求名
            $.get(document.getElementById('deleteByIds'), ids, function (data) {
                if (data == "ok") {
                    alert("删除成功!");
                    //删除成功后，调用action方法刷新页面信息
                    location.reload();
                    $("input[name=id]").removeAttr("checked");
                } else {
                    alert("请刷新页面！");
                }
            });
            return true;
        } else {
            //不删除
            alert("请选中行！");
            return false;
        }
    }
</script>

</body>
</html>