<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<body style="background-color: #FFF5EE">
<h1 style="margin-top: 15%;margin-left: 31%;font-size: 100px">404 出错了！</h1>
<h1 style="margin-top: 2%;margin-left: 35%;color: red">您的操作或输入有误，请重试！</h1>
<h2 style="margin-left: 35%">请尝试输入正确的用户名、密码或验证码!</h2>
</body>
<div style="width:100%;padding: 1% 0;background-color: white;position: fixed;bottom: 0;left: 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61012502000217" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin-left: 1%">
        <img th:src="@{/img/备案图标.png}" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            陕公网安备 61012502000217号 | </p>
    </a>

    <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            ICP主体备案号 陕ICP备2022002102号 ｜ </p>
    </a>
    <a style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#ff8f3d;">
            建议您使用Chrome、Firefox、Edge、IE10及以上版本和360等主流浏览器浏览本网站</p>
    </a>
    <a style="display:inline-block;text-decoration:none;height:20px;line-height:20px;float: right;margin-right: 3%">
        <img src="" style="float:right;"/>
        <p style="float:right;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            | © 吴思卿 2022</p>
    </a>
</div>
</html>