<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>游客首页</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<body style="background-color: #FFF5EE">

<div class="ue1">
    <div class="ue2">
        <div class="ue3">
        </div>
        <div class="ue4">
            <ul>
                <li class="add">
                    <a th:href="@{/UserRegister.html}">
                        注册账号&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">回到登陆页面</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="n">
        <div>
            <div class="leftbtn">
                <a th:href="@{/music/tourist}">
                    <button class="see"><b>全部曲谱</b></button>
                </a>
            </div>
        </div>
        <div class="line">
            <div class="rightbtns">
                <a th:href="@{/user/ABCHistory}" th:target="_blank">
                    <button class="love"><b>ABC记谱法简史与教程</b></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="tell">
    <div class="title">
        <b>公告</b>
    </div>
    <div class="text1">
        <textarea name="announce" cols="20" rows="8" th:text="${session.announce.announce}"  style="border: none;color: #ff8f3d;
        font-size: 5px;
        font-family: 'Adobe 宋体 Std L';
        font-weight: 400; resize: none" readonly></textarea>

        <h6 th:text="${#dates.format(session.announce.update_date,'yyyy年MM月dd日')}"></h6>
        <h6>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspABC曲谱学习网</h6>
    </div>
</div>
<div style="width:100%;padding: 1% 0;background-color: white;position: fixed;bottom: 0;left: 0;">
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61012502000217" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;margin-left: 1%">
        <img th:src="@{/img/备案图标.png}" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            陕公网安备 61012502000217号 | </p>
    </a>

    <a target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            ICP主体备案号 陕ICP备2022002102号 ｜ </p>
    </a>
    <a style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#ff8f3d;">
            建议您使用Chrome、Firefox、Edge、IE10及以上版本和360等主流浏览器浏览本网站</p>
    </a>
    <a style="display:inline-block;text-decoration:none;height:20px;line-height:20px;float: right;margin-right: 3%">
        <img src="" style="float:right;"/>
        <p style="float:right;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            | © 吴思卿 2022</p>
    </a>
</div>
</body>
</html>