<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户之乐谱全展示</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">

    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <style>
        #pieTone {
            width: 400px;
            height: 400px;
        }
        #pieBeat{
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<script type="text/javascript">

    function Sure() {
        var gnl = confirm("确定要收藏?");
        if (gnl == true) {
            return true;
        } else {
            return false;
        }
    }
    window.onload = function (){
        var easy = document.getElementById("easy");
        var combined = document.getElementById("combined");
        var easyQuery = document.getElementById("easyQuery");
        var combinedQuery = document.getElementById("CombinedQuery")

        if (easy.checked==true){
            easyQuery.style.display = "block";
            combinedQuery.style.display = "none";
        }
        easy.onclick = function (){
            easyQuery.style.display = "block";
            combinedQuery.style.display = "none";
        }
        combined.onclick = function (){
            easyQuery.style.display = "none";
            combinedQuery.style.display = "block";
        }
    }
</script>

<body style="background-color: #FFF5EE">

<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%">
            <b style="font-size: 40px;color: #FF8C69">
                <strong>全部曲谱</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div style="float: left; width: 25%;color: #FFA07A;margin-top: 1%">
    <input type="radio" name="m" value="1" checked id="easy" />简单查询
    <input type="radio" name="m" value="2" id="combined"/>组合查询
</div>

<div id="easyQuery" class="QueryWindow">
    <div style="width: 25%;float: right">
        <form th:action="@{/music/UserFindByMusicName}" method="post">
            <input type="text" name="music_name" placeholder="按曲谱名模糊查询" class="input">&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 25%;float: right">
        <form th:action="@{/user/findMusicByBeat}" method="post">
            <select name="beat" class="shortSelect">
                <option selected>按节拍查询</option>
                <option>---------</option>
                <option value = "1/4">1/4</option>
                <option value = "2/4">2/4</option>
                <option value = "3/4">3/4</option>
                <option value = "4/4">4/4</option>
                <option value = "3/8">3/8</option>
                <option value = "6/8">6/8</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 25%;float: right">
        <form th:action="@{/user/findMusicByTone}" method="post">
            <select name="tone" class="shortSelect">
                <option selected>按定调查询</option>
                <option>---------</option>
                <option value = "C">C</option>
                <option value = "#C">#C</option>
                <option value = "bC">bC</option>
                <option value = "D">D</option>
                <option value = "#D">#D</option>
                <option value = "bD">bD</option>
                <option value = "E">E</option>
                <option value = "#E">#E</option>
                <option value = "bE">bE</option>
                <option value = "F">F</option>
                <option value = "#F">#F</option>
                <option value = "bF">bF</option>
                <option value = "G">G</option>
                <option value = "#G">#G</option>
                <option value = "bG">bG</option>
                <option value = "A">A</option>
                <option value = "#A">#A</option>
                <option value = "bA">bA</option>
                <option value = "B">B</option>
                <option value = "#B">#B</option>
                <option value = "bB">bB</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
</div>
<div id="CombinedQuery" class="QueryWindow">
    <form th:action="@{/user/CombinedFindMusic}" method="post">
        <input type="submit" class="btn" value="组合" style="width: 80px;float: right;">
        <input type="text" name="music_name" placeholder="请输入乐谱名称，可模糊" class="input" style="float: right;">
        <select name="beat" class="shortSelect" style="float: right">
            <option selected>节拍选择</option>
            <option>---------</option>
            <option value = "1/4">1/4</option>
            <option value = "2/4">2/4</option>
            <option value = "3/4">3/4</option>
            <option value = "4/4">4/4</option>
            <option value = "3/8">3/4</option>
            <option value = "6/8">3/4</option>
        </select>
        <select name="tone" class="shortSelect" style="float: right">
            <option selected>定调选择</option>
            <option>---------</option>
            <option value = "C">C</option>
            <option value = "#C">#C</option>
            <option value = "bC">bC</option>
            <option value = "D">D</option>
            <option value = "#D">#D</option>
            <option value = "bD">bD</option>
            <option value = "E">E</option>
            <option value = "#E">#E</option>
            <option value = "bE">bE</option>
            <option value = "F">F</option>
            <option value = "#F">#F</option>
            <option value = "bF">bF</option>
            <option value = "G">G</option>
            <option value = "#G">#G</option>
            <option value = "bG">bG</option>
            <option value = "A">A</option>
            <option value = "#A">#A</option>
            <option value = "bA">bA</option>
            <option value = "B">B</option>
            <option value = "#B">#B</option>
            <option value = "bB">bB</option>
        </select>
    </form>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>乐曲名</th>
            <th>创建用户</th>
            <th>拍数</th>
            <th>定调</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
            <th>收藏</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="music,musicStat:${musics}">
            <td>
                <a th:href="@{/music/UserFindMusicById(id=${music.id})}" th:target="_blank">
                    <span style="color: black" th:text="${music.music_name}"></span>
                </a>
            </td>
            <td>
                <span th:if="${music.username} eq '用户已注销'" th:text="用户已注销" style="color: #ef1d1d"></span>
                <span th:if="${music.username} ne '用户已注销'" th:text="${music.username}"></span>
            </td>
            <td><span th:text="${music.beat}"></span></td>
            <td><span th:text="${music.tone}"></span></td>
            <td><span th:text="${#dates.format(music.insert_date,'yyyy年MM月dd日')}"></span></td>
            <td><span th:text="${#dates.format(music.last_update_date,'yyyy年MM月dd日')}"></span></td>
            <td>
                <form th:action="@{/user/favorite}" method="post" onsubmit="return Sure()">
                    <input type="text" th:value="${music.id}" name="music_id" style="display: none">
                    <input type="text" th:value="${session.loginUser.username}" name="username" style="display: none">
                    <input type="submit" value="收藏" class="updateBtn">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${page.pages>0}" style="margin-left: 35%">
    <!--当前页-->
    <span th:text="'当前页: '+${page.pageNum}" style="font-size: small"></span>
    &nbsp&nbsp&nbsp
    <!--            首页作为第一页不可点击-->
    <a th:href="@{/music/listMusicUser(pageNo=1)}" class="btn" style="width: 40px">首页</a>
    &nbsp&nbsp
    <span th:if="${page.pageNum==1}">
                <a onclick="return false" class="btn_FenYe">上一页</a>
            </span>
    <span th:unless="${page.pageNum==1}">
                <a th:href="@{/music/listMusicUser(pageNo=${page.pageNum - 1})}" class="btn_FenYe">上一页</a>
            </span>
    &nbsp&nbsp

    <span th:each="i:${#numbers.sequence(1,page.pages)}">
        &nbsp
                <a th:href="@{/music/listMusicUser(pageNo=${i})}" th:text="${i}">1</a>
            </span>

    &nbsp&nbsp
    <span th:if="${page.pages==page.pageNum}">
                <a onclick="return false" class="btn_FenYe">下一页</a>
            </span>

    <span th:unless="${page.pages==page.pageNum}">
                <a th:href="@{/music/listMusicUser(pageNo=${page.pageNum+1})}" class="btn_FenYe">下一页</a>
            </span>

    &nbsp&nbsp
    <a th:href="@{/music/listMusicUser(pageNo=${page.pages})}" class="btn" style="width: 40px">末页</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="text" th:value="@{/user/numbers}" id="TonePieUrl" style="display: none">
    <input type="text" th:value="@{/user/beatsNumbers}" id="BeatPieUrl" style="display: none">
    <span th:text="'总条数'+${page.total}" style="font-size: small"></span>
</div>

<div style="margin-left: 45%; margin-top: 1%">
    <form th:action="@{/music/listMusicUser}">
        <input type="text" class="input" style="width: 40px" name="pageNo" th:value="${page.pageNum}">页
        <input type="submit" value="跳转" class="btn" style="width: 40px">
    </form>
</div>
<div style="float: left; width: 50%">
    <!--按节拍-->
    <script type="text/javascript" th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <div id="pieBeat" style="margin-left: 40%"></div>
    <script>
        // 饼状图
        // 基于准备好的dom，初始化echarts实例
        var pieBeat = echarts.init(document.getElementById('pieBeat'));
        // 指定图表的配置项和数据
        pieBeatOption = {
            // 标题
            title: {
                text: '按节拍分类',
                subtext: '所有曲谱',
                left: 'center'
            },
            // 图例

            tooltip: {
                show: true,
                trigger: "item",
                backgroundColor: "#fff3e9",
                // {a}（系列名称），{b}（数据项名称），{c}（数值）, {d}（百分比）
                formatter: "{a}：{b}<br/>{c}个({d}%)"
            },

            // 不同区域的颜色
            // color: ['#4992ff', '#7cffb2', '#fddd60','#ff6e76','#58d9f9','#05c091','#ff8a45','#8d48e3'],
            series: [
                {
                    name: '节拍',
                    type: 'pie',
                    // 数组的第一项是内半径，第二项是外半径；可以设置不同的内外半径显示成圆环图
                    radius: '50%',
                    // 饼图的中心（圆心）坐标，数组的第一项是横坐标，第二项是纵坐标；设置成百分比时第一项是相对于容器宽度，第二项是相对于容器高度
                    center: ['50%', '50%'],
                    data: [

                    ],
                    itemStyle: {
                        // 显示图例
                        normal: {
                            label: {
                                show: true
                            },
                            labelLine: {
                                show: true
                            }
                        },
                        emphasis: {
                            // 图形阴影的模糊大小
                            shadowBlur: 10,
                            // 阴影水平方向上的偏移距离
                            shadowOffsetX: 0,
                            // 阴影颜色
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        pieBeat.setOption(pieBeatOption);

        // 异步加载数据
        $.post(document.getElementById("BeatPieUrl").value).done(function(beatList) {
            // 填入数据
            pieBeat.setOption({
                series: [
                    {
                        // 根据名字对应到相应的系列
                        data: [
                            {
                                value: beatList[0],name: '4/4拍',
                            },
                            {
                                value: beatList[1],name: '3/4拍'
                            },
                            {
                                value: beatList[2],name: '2/4拍'
                            },
                            {
                                value: beatList[3],name: '1/4拍'
                            },
                            {
                                value: beatList[4],name: '3/8拍'
                            },
                            {
                                value: beatList[5],name: '6/8拍'
                            },

                        ],
                    }
                ]
            });
        });
    </script>
</div>

<div style="float: right; width: 50%">
    <!--按定调数量统计图-->
    <script type="text/javascript" th:src="@{/js/echarts.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <div id="pieTone" style="float: right; margin-right: 40%"></div>
    <script>
        // 饼状图
        // 基于准备好的dom，初始化echarts实例
        var pieTone = echarts.init(document.getElementById('pieTone'));
        // 指定图表的配置项和数据
        pieToneOption = {
            // 标题
            title: {
                text: '按定调分类',
                subtext: '所有曲谱',
                left: 'center'
            },
            // 图例

            tooltip: {
                show: true,
                trigger: "item",
                backgroundColor: "#fff3e9",
                // {a}（系列名称），{b}（数据项名称），{c}（数值）, {d}（百分比）
                formatter: "{a}：{b}<br/>{c}个({d}%)"
            },

            // 不同区域的颜色
            // color: ['#4992ff', '#7cffb2', '#fddd60','#ff6e76','#58d9f9','#05c091','#ff8a45','#8d48e3'],
            series: [
                {
                    name: '定调',
                    type: 'pie',
                    // 数组的第一项是内半径，第二项是外半径；可以设置不同的内外半径显示成圆环图
                    radius: '50%',
                    // 饼图的中心（圆心）坐标，数组的第一项是横坐标，第二项是纵坐标；设置成百分比时第一项是相对于容器宽度，第二项是相对于容器高度
                    center: ['50%', '50%'],
                    data: [

                    ],
                    itemStyle: {
                        // 显示图例
                        normal: {
                            label: {
                                show: true
                            },
                            labelLine: {
                                show: true
                            }
                        },
                        emphasis: {
                            // 图形阴影的模糊大小
                            shadowBlur: 10,
                            // 阴影水平方向上的偏移距离
                            shadowOffsetX: 0,
                            // 阴影颜色
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        pieTone.setOption(pieToneOption);

        // 异步加载数据
        $.post(document.getElementById('TonePieUrl').value).done(function(numberList) {
            // 填入数据
            pieTone.setOption({
                series: [
                    {
                        // 根据名字对应到相应的系列
                        data: [
                            {
                                value: numberList[0]+numberList[1]+numberList[2],name: 'A调(含升与降)',
                            },

                            {
                                value: numberList[3]+numberList[4]+numberList[5],name: 'B调(含升与降)'
                            },

                            {
                                value: numberList[6]+numberList[7]+numberList[8],name: 'C调(含升与降)'
                            },

                            {
                                value: numberList[9]+numberList[10]+numberList[11],name: 'D调(含升与降)'
                            },

                            {
                                value: numberList[12]+numberList[13]+numberList[14],name: 'E调(含升与降)'
                            },

                            {
                                value: numberList[15]+numberList[16]+numberList[17],name: 'F调(含升与降)'
                            },

                            {
                                value: numberList[18]+numberList[19]+numberList[20],name: 'G调(含升与降)'
                            },
                        ],
                    }
                ]
            });
        });
    </script>
</div>
</body>
</html>