<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户主页</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<body style="background-color: #FFF5EE">

<div class="ue1">
    <div class="ue2">
        <img th:src="@{/img/ABC记谱法--用户.png}" style="float:left;"/>
        <div class="ue3">

        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>当前用户：<span th:text="${session.loginUser.username}"></span></b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="return">
    <a th:href="@{/music/listMusicUser}">
        <&nbsp&nbsp返回主页</a>
</div>

<div class="under">
    <div class="left" style="float: left;width: 15%">
        <div class="ul0" style="margin-left: 25px">
            <ul>
                <li>
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">—我的信息—</a>
                </li>
                <li>
                    <a th:href="@{/music/listPersonalMusic}">—我的曲谱—</a>
                </li>
                <li>
                    <a th:href="@{/user/showFavorite}" style="color: #FF8C69">—我的收藏—</a>
                </li>
                <li>
                    <a th:href="@{/user/update1(username=${session.loginUser.username})}">—更改信息—</a>
                </li>
            </ul>
        </div>
        <div class="out0" style="margin-left: 9px">
            <ul>
                <li>
                    <a th:href="@{/user/deleteAccount1}"><h5>注销账号&nbsp丨</h5></a>
                </li>
                <li>
                    <a th:href="@{/index.html}"><h5>退出登陆</h5></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="right" style="float: right; width: 85%">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>乐曲名</th>
                    <th>创建用户</th>
                    <th>拍数</th>
                    <th>定调</th>
                    <th>创建时间</th>
                    <th>最后修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="music,musicStat:${musics}">
                    <td>
                        <a th:href="@{/music/UserFindMusicById(id=${music.id})}" th:target="_blank">
                            <span style="color: black" th:text="${music.music_name}"></span>
                        </a>
                    </td>
                    <td><span th:text="${music.username}"></span></td>
                    <td><span th:text="${music.beat}"></span></td>
                    <td><span th:text="${music.tone}"></span></td>
                    <td><span th:text="${#dates.format(music.insert_date,'yyyy年MM月dd日')}"></span></td>
                    <td><span th:text="${#dates.format(music.last_update_date,'yyyy年MM月dd日')}"></span></td>
                    <td>
                        <form th:action="@{/user/deleteOneCollection}" method="post" onsubmit="return Sure()">
                        <input type="text" th:value="${music.id}" name="music_id" style="display: none">
                        <input type="submit" value="删除" class="deleteBtn">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${page.pages>0}" style="margin-left: 35%">
            <!--当前页-->
            <span th:text="'当前页: '+${page.pageNum}" style="font-size: small"></span>
            &nbsp&nbsp&nbsp
            <!--            首页作为第一页不可点击-->
            <a th:href="@{/user/showFavorite(pageNo=1)}" class="btn" style="width: 40px">首页</a>
            &nbsp&nbsp
            <span th:if="${page.pageNum==1}">
                <a onclick="return false" class="btn_FenYe">上一页</a>
            </span>
            <span th:unless="${page.pageNum==1}">
                <a th:href="@{/user/showFavorite}" class="btn_FenYe">上一页</a>
            </span>
            &nbsp&nbsp

            <span th:each="i:${#numbers.sequence(1,page.pages)}">
        &nbsp
                <a th:href="@{/user/showFavorite(pageNo=${i})}" th:text="${i}">1</a>
            </span>

            &nbsp&nbsp
            <span th:if="${page.pages==page.pageNum}">
                <a onclick="return false" class="btn_FenYe">下一页</a>
            </span>

            <span th:unless="${page.pages==page.pageNum}">
                <a th:href="@{/user/showFavorite(pageNo=${page.pageNum+1})}" class="btn_FenYe">下一页</a>
            </span>

            &nbsp&nbsp
            <a th:href="@{/user/showFavorite(pageNo=${page.pages})}" class="btn" style="width: 40px">末页</a>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span th:text="'总条数'+${page.total}" style="font-size: small"></span>
        </div>
    </div>

</div>


<script th:src="@{/js/jquery-3.4.1.js}"></script>
<script type="text/javascript">
    function Sure() {
        var gnl = confirm("确定要删除?");
        if (gnl == true) {
            return true;
        } else {
            return false;
        }
    }
</script>
</body>
</html>