<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
</head>
<body>
<div class="ue1">
    <div class="ue2">
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{http://localhost:8080/ABC/user/findByName?username=session.loginUser.username}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a href="http://localhost:8082/Donation_war/login.jsp">退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>