<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <title>ABC管理员乐谱修改</title>

    <link rel="stylesheet" th:href="@{/css/examples-styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">

    <script th:src="@{/js/abcjs-basic.js}" type="text/javascript"></script>
    <link th:href="@{/css/abcjs-audio.css}" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function Sure() {
            var gnl = confirm("更改后需待管理员重新审批，确定更改?");
            if (gnl == true) {
                return true;
            } else {
                return false;
            }
        }
        window.onload = function () {
            new ABCJS.Editor("abc", {
                canvas_id: "canvas",
                generate_warnings: true,
                warnings_id: "warnings",
                synth: {
                    el: "#audio",
                    options: { displayRestart: true, displayPlay: true, displayProgress: true, displayWarp: true }
                },
                abcjsParams: {
                    responsive: "resize",
                    oneSvgPerLine: true
                }
            });
        };
    </script>
    <style>
        @media print {
            div.forg3,div.ue1,div.print {
                display: none;
            }
            div.visible-background {
                display: block;
            }
            [fill="#ff0000"] {
                fill: currentColor;
            }
        }
    </style>

</head>
<body style="background-color: #FFF5EE">
<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%">
            <b style="font-size: 25px;color: #FF8C69">
                <strong>修改曲谱</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<form th:action="@{/music/updateMusicUser2}" method="post" onsubmit="return Sure()">
    <div style="margin-left: 10%;margin-top: 3%">
        <div class="forg3">
            <div class="forg_n">
                <b>曲谱名</b>
            </div>
            <div>
                <input type="text" name="music_name" th:value="${music.music_name}" class="input">
                <input type="text" name="id" th:value="${music.id}" style="display: none">
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>节&nbsp&nbsp&nbsp拍</b>
            </div>
            <div>
                <select name="beat" class="shortSelect">
                    <option value = "1/4" th:selected="${{music.beat}} eq '1/4'">1/4</option>
                    <option value = "2/4" th:selected="${{music.beat}} eq '2/4'">2/4</option>
                    <option value = "3/4" th:selected="${{music.beat}} eq '3/4'">3/4</option>
                    <option value = "4/4" th:selected="${{music.beat}} eq '4/4'">4/4</option>
                    <option value = "3/8" th:selected="${{music.beat}} eq '3/8'">3/8</option>
                    <option value = "6/8" th:selected="${{music.beat}} eq '6/8'">6/8</option>
                </select>
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>定&nbsp&nbsp&nbsp调</b>
            </div>
            <div>
                <select name="tone" class="shortSelect">
                    <option value = "C" th:selected="${{music.tone}} eq 'C'">C</option>
                    <option value = "#C" th:selected="${{music.tone}} eq '#C'">#C</option>
                    <option value = "bC" th:selected="${{music.tone}} eq 'bC'">bC</option>
                    <option value = "D" th:selected="${{music.tone}} eq 'D'">D</option>
                    <option value = "#D" th:selected="${{music.tone}} eq '#D'">#D</option>
                    <option value = "bD" th:selected="${{music.tone}} eq 'bD'">bD</option>
                    <option value = "E" th:selected="${{music.tone}} eq 'E'">E</option>
                    <option value = "#E" th:selected="${{music.tone}} eq '#E'">#E</option>
                    <option value = "bE" th:selected="${{music.tone}} eq 'bE'">bE</option>
                    <option value = "F" th:selected="${{music.tone}} eq 'F'">F</option>
                    <option value = "#F" th:selected="${{music.tone}} eq '#F'">#F</option>
                    <option value = "bF" th:selected="${{music.tone}} eq 'bF'">bF</option>
                    <option value = "G" th:selected="${{music.tone}} eq 'G'">G</option>
                    <option value = "#G" th:selected="${{music.tone}} eq '#G'">#G</option>
                    <option value = "bG" th:selected="${{music.tone}} eq 'bG'">bG</option>
                    <option value = "A" th:selected="${{music.tone}} eq 'A'">A</option>
                    <option value = "#A" th:selected="${{music.tone}} eq '#A'">#A</option>
                    <option value = "bA" th:selected="${{music.tone}} eq 'bA'">bA</option>
                    <option value = "B" th:selected="${{music.tone}} eq 'B'">B</option>
                    <option value = "#B" th:selected="${{music.tone}} eq '#B'">#B</option>
                    <option value = "bB" th:selected="${{music.tone}} eq 'bB'">bB</option>
                </select>
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>ABC乐谱</b>
            </div>
            <div>
                <textarea id="abc" name="abc" cols="80" rows="15"
                            spellcheck="false"
                                  style="float: left;
                                border: 1px solid #FFD3B9;
                                border-radius: 5px;" th:text="${music.abc}"></textarea>
            </div>
        </div>
        <div class="forg3">
            <div id="warnings"></div>
            <div id="audio" class="audio"></div>
        </div>
        <div class="forg3">
            <div class="forg_n">
                <b>乐谱简介</b>
            </div>
            <div>
                <textarea name="introduction" cols="80" rows="15"
                          spellcheck="false"
                          style="float: left;
                                border: 1px solid #FFD3B9;
                                border-radius: 5px;" th:text="${music.introduction}"></textarea>
            </div>
        </div>
    </div>

    <div>
        <div id="canvas" class="visible-background"></div>
    </div>
    <div class="forg3">
        <div class="btn0" style="margin-bottom: 3%;margin-left: 33%;">
            <input type="submit" value="更新" class="btn">
        </div>
    </div>
</form>


</body>
</html>