<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ABC Info User</title>

    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/examples-styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">

    <script th:src="@{/js/abcjs-basic.js}" type="text/javascript"></script>
    <link th:href="@{/css/abcjs-audio.css}" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        // window.onload = function (){
        //     var intro = document.getElementById("introduction")
        //     if(intro.innerText==null){
        //         intro.style.display = "none";
        //     }else
        //         intro.style.display = "block";
        // }

        var abcjsEditor;

        window.onload = function () {
            abcjsEditor = new ABCJS.Editor("abc", {
                canvas_id: "canvas",
                generate_warnings: true,
                warnings_id: "warnings",
                synth: {
                    el: "#audio",
                    options: { displayRestart: true, displayPlay: true, displayProgress: true, displayWarp: true }
                },
                abcjsParams: {
                    responsive: "resize",
                    oneSvgPerLine: true
                },
                selectionChangeCallback: selectionChangeCallback
            });
            document.getElementById("midi").addEventListener("click", downloadMidi);
        };
        function clickListener(abcElem, tuneNumber, classes, analysis, drag, mouseEvent) {
            var lastClicked = abcElem.midiPitches;
            if (!lastClicked)
                return;

            ABCJS.synth.playEvent(lastClicked, abcElem.midiGraceNotePitches, abcjsEditor.millisecondsPerMeasure()).then(function (response) {
                console.log("note played");
            }).catch(function (error) {
                console.log("error playing note", error);
            });
        }

        function selectionChangeCallback(start, end) {
            if (abcjsEditor) {
                var el = abcjsEditor.tunes[0].getElementFromChar(start);
                console.log(el);
            }
        }

        function downloadMidi() {
            var abc = document.getElementById("abc").value;
            var a = document.getElementById("midi-download");
            var midi = ABCJS.synth.getMidiFile(abc, { midiOutputType: "encoded" })
            a.setAttribute("href", midi)
            a.click();
        }
    </script>
    <style>
        @media print {
            div.forg3,div.ue1,div.print {
                display: none;
            }
            div.visible-background {
                display: block;
            }
            [fill="#ff0000"] {
                fill: currentColor;
            }
        }
    </style>

</head>
<body style="background-color: #FFF5EE">
<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%">
            <b style="font-size: 25px;color: #FF8C69">
                <strong>展示曲谱</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>
    <div style="margin-left: 10%;margin-top: 3%">
        <div class="forg3">
            <div class="forg_n">
                <b>曲谱名</b>
            </div>
            <div>
                <input type="text" th:value="${music.music_name}" class="input" readonly>
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>节&nbsp&nbsp&nbsp拍</b>
            </div>
            <div>
                <input type="text" th:value="${music.beat}" class="input" readonly>
            </div>
        </div>

        <div class="forg3">
            <div class="forg_n">
                <b>定&nbsp&nbsp&nbsp调</b>
            </div>
            <div>
                <input type="text" th:value="${music.tone}" class="input" readonly>
            </div>
        </div>
<!--        -->
        <div class="forg3">
            <div class="forg_n">
                <b>ABC乐谱</b>
            </div>
            <div>
                <textarea id="abc" name="abc" cols="80" rows="15"
                            spellcheck="false"
                                  style="float: left;
                                border: 1px solid #FFD3B9;
                                border-radius: 5px;" th:text="${music.abc}" readonly></textarea>
            </div>
        </div>
        <div class="forg3">
            <div id="warnings"></div>
            <div id="audio" class="audio"></div>
        </div>
        <span th:if="${music.introduction} eq null" style="display: none">
            <div class="forg3">
                <div class="forg_n">
                    <b>乐谱简介</b>
                </div>
                <div>
                    <textarea name="introduction" cols="80" rows="15"
                              spellcheck="false"
                              style="float: left;
                                    border: 1px solid #FFD3B9;
                                    border-radius: 5px;" th:text="${music.introduction}" readonly></textarea>
                </div>
            </div>
        </span>
        <span th:if="${music.introduction} ne null" style="display: block">
            <div class="forg3">
                <div class="forg_n">
                    <b>乐谱简介</b>
                </div>
                <div>
                    <textarea name="introduction" cols="80" rows="15"
                              spellcheck="false"
                              style="float: left;
                                    border: 1px solid #FFD3B9;
                                    border-radius: 5px;" th:text="${music.introduction}" readonly></textarea>
                </div>
            </div>
        </span>
    </div>

    <div>
        <div id="canvas" class="visible-background"></div>
    </div>

<div class="print">
    <button onclick="window.print()" class="btn">保存五线谱</button>
    <button id="midi" class="btn">下载MIDI文件</button>
    <a id="midi-download" th:download="${music.music_name}+'.mid'" style="display: none"></a>
</div>

<div style="margin-top: 10%">

    <span th:if="${session.loginUser.comment_mark} eq 1" style="display: none">
        <form th:action="@{/music/saveComment}" method="post">
            <div class="forg3">
                <div class="forg_n">
                    <b>发表评论</b>
                </div>
                <div>
                <textarea name="comment" cols="50" rows="10"
                          spellcheck="false"
                          style="float: left;
                                        border: 1px solid #FFD3B9;
                                        border-radius: 5px;" placeholder="请文明发言！"></textarea>
                </div>
            </div>
            <div class="forg3">
                <div class="btn0" style="margin-bottom: 3%;margin-left: 5%;margin-top: 1%">
                    <input type="text" name="username" th:value="${session.loginUser.username}" readonly style="display: none">
                    <input type="text" name="music_id" th:value="${music.id}" readonly style="display: none">
                    <input type="submit" value="发表" class="btn">
                </div>
            </div>
        </form>
    </span>

    <span th:if="${session.loginUser.comment_mark} eq 0" style="display: block">
        <form th:action="@{/music/saveComment}" method="post">
            <div class="forg3">
                <div class="forg_n">
                    <b>发表评论</b>
                </div>
                <div>
                <textarea name="comment" cols="50" rows="10"
                          spellcheck="false"
                          style="float: left;
                                        border: 1px solid #FFD3B9;
                                        border-radius: 5px;" placeholder="请文明发言！"></textarea>
                </div>
            </div>
            <div class="forg3">
                <div class="btn0" style="margin-bottom: 3%;margin-left: 5%;margin-top: 1%">
                    <input type="text" name="username" th:value="${session.loginUser.username}" readonly style="display: none">
                    <input type="text" name="music_id" th:value="${music.id}" readonly style="display: none">
                    <input type="submit" value="发表" class="btn">
                </div>
            </div>
        </form>
    </span>

    <div class="forg3" style="margin-top: 15%">
        <div class="forg_n">
            <b>评论区</b>
        </div>
    </div>
    <div style="margin-top: 6%;margin-left: 10%">
        <span th:each="comment,commentStat:${comments}">
            <div style="margin-top: 2%">
                用户：<span th:text="${comment.username}"></span>&nbsp&nbsp｜发布于<span th:text="${comment.comment_date}"></span>
            </div>
            <div>
                <span th:text="${comment.comment}"></span>
            </div>
        </span>
    </div>
    <div th:if="${page.pages>0}" style="margin-left: 35%;margin-top: 5%">
        <!--当前页-->
        <span th:text="'当前页: '+${page.pageNum}" style="font-size: small"></span>
        &nbsp&nbsp&nbsp
        <!--            首页作为第一页不可点击-->
        <a th:href="@{/music/UserFindMusicById(pageNo=1,id=${music.id})}" class="btn" style="width: 40px">首页</a>
        &nbsp&nbsp
        <span th:if="${page.pageNum==1}">
                <a onclick="return false" class="btn_FenYe">上一页</a>
            </span>
        <span th:unless="${page.pageNum==1}">
                <a th:href="@{/music/UserFindMusicById(pageNo=${page.pageNum - 1},id=${music.id})}" class="btn_FenYe">上一页</a>
            </span>
        &nbsp&nbsp

        <span th:each="i:${#numbers.sequence(1,page.pages)}">
        &nbsp
                <a th:href="@{/music/UserFindMusicById(pageNo=${i},id=${music.id})}" th:text="${i}">1</a>
            </span>

        &nbsp&nbsp
        <span th:if="${page.pages==page.pageNum}">
                <a onclick="return false" class="btn_FenYe">下一页</a>
            </span>

        <span th:unless="${page.pages==page.pageNum}">
                <a th:href="@{/music/UserFindMusicById(pageNo=${page.pageNum+1},id=${music.id})}" class="btn_FenYe">下一页</a>
            </span>

        &nbsp&nbsp
        <a th:href="@{/music/UserFindMusicById(pageNo=${page.pages},id=${music.id})}" class="btn" style="width: 40px">末页</a>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <span th:text="'总条数'+${page.total}" style="font-size: small"></span>
    </div>
</div>
</body>
</html>