<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息修改</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
</head>
<body style="background-color: #FFF5EE">
<div class="ue1">
    <div class="ue2">
        <div class="ue3">
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>当前用户：<span th:text="${session.loginUser.username}"></span></b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="return">
     <a th:href="@{/user/First_Redirect}">
        <&nbsp&nbsp返回主页</a>
</div>

<div class="under">
    <div class="left">
        <div class="ul0">
            <ul>
                <li>
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">—我的信息—</a>
                </li>
                <li>
                    <a th:href="@{/music/listPersonalMusic}">—我的曲谱—</a>
                </li>
                <li>
                    <a th:href="@{/user/showFavorite}">—我的收藏—</a>
                </li>
                <li>
                    <a th:href="@{/user/update1(username=${session.loginUser.username})}" style="color: #FF8C69">—更改信息—</a>
                </li>
            </ul>
        </div>
        <div class="out0" style="margin-left: 33px">
            <ul>
                <li>
                    <a th:href="@{/user/deleteAccount1}"><h5>注销账号&nbsp丨</h5></a>
                </li>
                <li>
                    <a th:href="@{/index.html}"><h5>退出登陆</h5></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <div class="forg1">
            <h1>更改信息&nbsp丨</h1>
        </div>

        <form th:action="@{/user/update2}" method="post">
            <div class="forg2">
                <div class="forg3">
                    <div class="forg_n">
                        <b>用&nbsp户&nbsp名</b>
                    </div>
                    <div>
                        <input type="text" th:value="${session.loginUser.username}" name="username" class="input" readonly unselectable="on">
                    </div>
                </div>
                <div class="forg3">
                    <div class="forg_n">
                        <b>电话号码</b>
                    </div>
                    <div>
                        <input type="text" name="phoneNumber" th:value="${Model_User_Info.phoneNumber}" class="input">
                    </div>
                </div>
                <div class="forg3">
                    <div class="forg_n">
                        <b>生&nbsp&nbsp&nbsp日</b>
                    </div>
                    <div>
                        <input type="date" name="birthday" th:value="${Model_User_Info.birthday}" class="input">
                    </div>
                </div>
            </div>

            <div class="find">
                <div class="btn0">
                    <input type="submit" value="确定" class="btn">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="xiaojiang">
    <h6>——最终解释权归freemanwu所有——</h6>
</div>


</body>
</html>