<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户之乐谱全展示</title>
    <link rel="stylesheet" th:href="@{/css/Type1.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<body style="background-color: #FFF5EE">

<div class="ue1">
    <div class="ue2">
        <div style="float: left;height: 50px;width: 20%;margin-left: 45%">
            <b style="font-size: 40px;color: #FF8C69">
                <strong>按定调查询</strong>
            </b>
        </div>
        <div class="ue4">
            <ul>
                <li class="ue6">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        <b>
                            当前用户：<span th:text="${session.loginUser.username}"></span>
                        </b>
                    </a>
                </li>
                <li class="add">
                    <a th:href="@{/user/findByName(username=${session.loginUser.username})}">
                        主页&nbsp&nbsp丨</a>
                </li>
                <li class="add">
                    <a th:href="@{/index.html}">退出登陆</a>
                </li>
            </ul>
        </div>

    </div>
</div>



<div id="easyQuery" class="QueryWindow">
    <div style="width: 25%;float: right">
        <form th:action="@{/music/UserFindByMusicName}" method="post">
            <input type="text" name="music_name" placeholder="按曲谱名模糊查询" class="input">&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 25%;float: right">
        <form th:action="@{/user/findMusicByBeat}" method="post">
            <select name="beat" class="shortSelect">
                <option selected>按节拍查询</option>
                <option>---------</option>
                <option value = "1/4">1/4</option>
                <option value = "2/4">2/4</option>
                <option value = "3/4">3/4</option>
                <option value = "4/4">4/4</option>
                <option value = "3/8">3/8</option>
                <option value = "6/8">6/8</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
    <div style="width: 25%;float: right">
        <form th:action="@{/user/findMusicByTone}" method="post">
            <select name="tone" class="shortSelect">
                <option selected>按定调查询</option>
                <option>---------</option>
                <option value = "C">C</option>
                <option value = "#C">#C</option>
                <option value = "bC">bC</option>
                <option value = "D">D</option>
                <option value = "#D">#D</option>
                <option value = "bD">bD</option>
                <option value = "E">E</option>
                <option value = "#E">#E</option>
                <option value = "bE">bE</option>
                <option value = "F">F</option>
                <option value = "#F">#F</option>
                <option value = "bF">bF</option>
                <option value = "G">G</option>
                <option value = "#G">#G</option>
                <option value = "bG">bG</option>
                <option value = "A">A</option>
                <option value = "#A">#A</option>
                <option value = "bA">bA</option>
                <option value = "B">B</option>
                <option value = "#B">#B</option>
                <option value = "bB">bB</option>
            </select>&nbsp
            <input type="submit" class="btn" value="查询" style="width: 40px">
        </form>
    </div>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>乐曲名</th>
            <th>创建用户</th>
            <th>拍数</th>
            <th>定调</th>
            <th>创建时间</th>
            <th>最后修改时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="music,musicStat:${musics}">
            <td>
                <a th:href="@{/music/UserFindMusicById(id=${music.id})}" th:target="_blank">
                    <span style="color: black" th:text="${music.music_name}"></span>
                </a>
            </td>
            <td>
                <span th:if="${music.username} eq '用户已注销'" th:text="用户已注销" style="color: #ef1d1d"></span>
                <span th:if="${music.username} ne '用户已注销'" th:text="${music.username}"></span>
            </td>
            <td><span th:text="${music.beat}"></span></td>
            <td><span th:text="${music.tone}"></span></td>
            <td><span th:text="${#dates.format(music.insert_date,'yyyy年MM月dd日')}"></span></td>
            <td><span th:text="${#dates.format(music.last_update_date,'yyyy年MM月dd日')}"></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${page.pages>0}" style="margin-left: 35%">
    <!--当前页-->
    <span th:text="'当前页: '+${page.pageNum}" style="font-size: small"></span>
    &nbsp&nbsp&nbsp
    <!--            首页作为第一页不可点击-->
    <a th:href="@{/user/findMusicByTone(pageNo=1,tone=${session.tone})}" class="btn" style="width: 40px">首页</a>
    &nbsp&nbsp
    <span th:if="${page.pageNum==1}">
                <a onclick="return false" class="btn_FenYe">上一页</a>
            </span>
    <span th:unless="${page.pageNum==1}">
                <a th:href="@{/user/findMusicByTone(pageNo=${page.pageNum - 1},tone=${session.tone})}" class="btn_FenYe">上一页</a>
            </span>
    &nbsp&nbsp

    <span th:each="i:${#numbers.sequence(1,page.pages)}">
        &nbsp
                <a th:href="@{/user/findMusicByTone(pageNo=${i},tone=${session.tone})}" th:text="${i}">1</a>
            </span>

    &nbsp&nbsp
    <span th:if="${page.pages==page.pageNum}">
                <a onclick="return false" class="btn_FenYe">下一页</a>
            </span>

    <span th:unless="${page.pages==page.pageNum}">
                <a th:href="@{/user/findMusicByTone(pageNo=${page.pageNum+1},tone=${session.tone})}" class="btn_FenYe">下一页</a>
            </span>

    &nbsp&nbsp
    <a th:href="@{/user/findMusicByTone(pageNo=${page.pages},tone=${session.tone})}" class="btn" style="width: 40px">末页</a>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <span th:text="'总条数'+${page.total}" style="font-size: small"></span>
</div>

</body>
</html>