<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is a test page</h1>
    <form action="/ABC/user/findByNameAndPassword" method="post">
        <p><input type="text" name="username" placeholder="请输入用户名"></p>
        <p><input type="password" name="password" placeholder="请输入密码"></p>
        <p><input type="submit" value="登陆"></p>
    </form>

    <a href="UserRegister.html">还没有账号？注册一个！</a>
</body>
</html>